body {
    background-color: #C1CFEA;
}

.gradient-custom-cold {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(155, 215, 247) 0%, rgba(231,246,255,1) 75%);
}

.gradient-custom-warm {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(247, 222, 169, 0.71) 0%, rgba(249,255,231,1) 75%);
}

.carousel-indicators li {
    background-color: #282828;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}