<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/mainlayout :: mainLayout(~{::body})}">

<body>
    <div class="container-fluid" th:if="${registered}" style="margin-top: 100px">
        <div class="card border-success col-md-4 offset-4">
            <div style="text-align: center;">
                <div th:text="${'Your new account: ' + registeredEmail + ' has been successfully created. You can now log in.'}" style="margin: 20px; font-weight: bold"> </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="margin-top: 100px">
        <div class="card border-success col-md-6 offset-3">
            <div style="text-align: center;">
                <p style="font-size: 40px; margin-top: 20px">Login</p>
                <p>Welcome! Login to access control panel.<br>Don't have an account yet? <a th:href="@{/user/register}">Register</a></p>
            </div>
            <div class="card-body text-secondary">
                <form th:object="${user}" th:action="@{/user/login}" method="post">
 <!-- to do-->      <div class="form-group" th:class="${false} ?
                                 'form-group text-danger' : 'form-group'" style="margin-bottom: 20px">
                        <input type="text" th:field="*{login}" class="form-control" placeholder="Enter login">
                    </div>
                    <div class="form-group" style="margin-bottom: 20px">
                        <input type="password" th:field="*{password}" class="form-control" placeholder="Password">
                        <small class="form-text text-muted">Forget your password?</small>
                    </div>
                    <div class="col-sm-4 offset-4">
                        <button type="submit" class="btn btn-outline-success btn-block" style="min-width: 200px">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>