<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/mainlayout :: mainLayout(~{::body})}">

<body>
    <div class="container" style="margin-left: auto; margin-right: auto">
        <table class="table table-hover table-striped" style="margin-bottom: 15px; margin-top: 25px">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Temperature</th>
                    <th>Humidity</th>
                    <th>Pressure</th>
                    <th>Exposure</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="record : ${records}">
                    <td th:text="${record.id}"></td>
                    <td th:text="${record.getFormattedDate()}"></td>
                    <td th:text="${record.temperature + ' °C'}"></td>
                    <td th:text="${record.humidity*100 + ' %'}"></td>
                    <td th:text="${record.pressure + ' hPa'}"></td>
                    <td th:text="${record.exposure + ' %'}"></td>
                </tr>
            </tbody>
        </table>
            <a class="btn btn-outline-success" type="submit" th:href="@{/archive/Hour}">Hour</a>
            <a class="btn btn-outline-success" type="submit" th:href="@{/archive/Day}">Day</a>
            <a class="btn btn-outline-success" type="submit" th:href="@{/archive/Week}">Week</a>
            <a class="btn btn-outline-success" type="submit" th:href="@{/archive/Month}">Month</a>
            <a class="btn btn-outline-success" type="submit" th:href="@{/archive}">All</a>
    </div>
</body>
</html>