<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/mainlayout :: mainLayout(~{::body})}">

<body>
    <link rel="stylesheet" th:href="@{/stylesheets/mainPageStylesheets.css}"/>
    <link rel="stylesheet" th:href="@{/stylesheets/clockStyle.css}"/>
    <link rel="stylesheet" th:href="@{/stylesheets/whiteFooterStyle.css}"/>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

        <div class="container py-xl-5 ">

            <div class="row">
                <div class="col-md-6">
                    <div class="row d-flex justify-content-center align-items-center h-100" style="color: #282828;">
                        <div class="col-md-10">

                            <div class="card mb-4" th:classappend="${recordNow.temperature > 10 ? 'gradient-custom-warm' : 'gradient-custom-cold'}" style="border-radius: 25px">
                                <div class="card-body p-4">

                                    <div id="demo1" class="carousel slide" data-ride="carousel">
                                        <ul class="carousel-indicators mb-0">
                                            <li data-target="#demo1" data-slide-to="0" class="active"></li>
                                            <li data-target="#demo1" data-slide-to="1"></li>
                                            <li data-target="#demo1" data-slide-to="2"></li>
                                        </ul>

                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <div class="d-flex justify-content-between mb-4 pb-2">
                                                    <div>
                                                        <h2 class="display-2" th:text="${#numbers.formatDecimal(recordNow.temperature,1,1, 'POINT') + '°C'}"><strong>2°C</strong></h2>
                                                        <p class="text-muted mb-0">Gliwice, Poland</p>
                                                    </div>
                                                    <div>
                                                        <i th:class="${recordService.getIconBasedOnRecord(recordNow)}" style="font-size: 80px"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="card mb-4" style="border-radius: 25px;">
                                <div class="card-body p-4">

                                    <div id="demo2" class="carousel slide" data-ride="carousel">
                                        <ul class="carousel-indicators mb-0">
                                            <li data-target="#demo2" data-slide-to="0"></li>
                                            <li data-target="#demo2" data-slide-to="1" class="active"></li>
                                            <li data-target="#demo2" data-slide-to="2"></li>
                                        </ul>
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <div class="d-flex justify-content-around text-center mb-4 pb-3 pt-2">
                                                    <div class="flex-column" th:each="record : ${recordsHourly}">
                                                        <div th:if="${record.temperature == -50}">
                                                            <p class="small" style="font-weight: bold">No data</p>
                                                            <i th:class="${recordService.getIconBasedOnRecord(record)}" style="font-size: 30px"></i>
                                                            <p th:if="${record.getDate().getHour()%12 == 0}" class="mb-0" th:text="'12'"><strong>12:00</strong></p>
                                                            <p th:unless="${record.getDate().getHour()%12 == 0}" class="mb-0" th:text="${record.getDate().getHour()%12}"><strong>12:00</strong></p>
                                                            <p class="mb-0 text-muted" th:text="${record.getDate().getHour() <= 12 ? 'AM' : 'PM'}" style="font-size: .65rem;">PM</p>                                                        </div>
                                                        <div th:unless="${record.temperature == -50}">
                                                            <p class="small" th:text="${#numbers.formatDecimal(record.temperature,1,1, 'POINT') + '°C'}" style="font-weight: bold">2°C</p>
                                                            <i th:class="${recordService.getIconBasedOnRecord(record)}" style="font-size: 30px"></i>
                                                            <p th:if="${record.getDate().getHour()%12 == 0}" class="mb-0" th:text="'12'"><strong>12:00</strong></p>
                                                            <p th:unless="${record.getDate().getHour()%12 == 0}" class="mb-0" th:text="${record.getDate().getHour()%12}"><strong>12:00</strong></p>
                                                            <p class="mb-0 text-muted" th:text="${record.getDate().getHour() <= 12 ? 'AM' : 'PM'}" style="font-size: .65rem;">PM</p>
                                                        </div>
                                                    </div>
                                                    <div th:if="${recordsHourly.isEmpty()}">
                                                        <p class="small" style="font-weight: bold; font-size: 25px">No data</p>
                                                        <i class="mdi mdi-help-circle-outline" style="font-size: 30px"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="card" style="border-radius: 25px;">
                                <div class="card-body p-4">
                                    <div id="demo3" class="carousel slide" data-ride="carousel">
                                        <ul class="carousel-indicators mb-0">
                                            <li data-target="#demo3" data-slide-to="0"></li>
                                            <li data-target="#demo3" data-slide-to="1"></li>
                                            <li data-target="#demo3" data-slide-to="2" class="active"></li>
                                        </ul>
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <div class="d-flex justify-content-around text-center mb-4 pb-3 pt-2">
                                                    <div class="flex-column" th:each="record : ${recordsDaily}">
                                                        <div th:if="${record.temperature == -50}">
                                                            <p class="small" style="font-weight: bold">No data</p>
                                                            <i th:class="${recordService.getIconBasedOnRecord(record)}" style="font-size: 30px"></i>
                                                        </div>
                                                        <div th:unless="${record.temperature == -50}">
                                                            <p class="small" th:text="${#numbers.formatDecimal(record.temperature,1,1, 'POINT') + '°C'}" style="font-weight: bold">2°C</p>
                                                            <i th:class="${recordService.getIconBasedOnRecord(record)}" style="font-size: 30px"></i>
                                                        </div>
                                                            <p class="mb-0" th:text="${#strings.capitalize(#strings.toLowerCase(record.getDate().getDayOfWeek()).substring(0,3))}" style="font-weight: bold">12:00</p>
                                                    </div>
                                                    <div th:if="${recordsDaily.isEmpty()}">
                                                        <p class="small" style="font-weight: bold; font-size: 25px">No data</p>
                                                        <i class="mdi mdi-help-circle-outline" style="font-size: 30px"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row d-flex justify-content-center" style="color: #282828;">
                            <div class="clock">
                                <div class="wrap">
                                    <span class="hour"></span>
                                    <span class="minute"></span>
                                    <span class="second"></span>
                                    <span class="dot"></span>
                                </div>
                            </div>
                            <h2 class="card-title text-center d-flex mt-3 justify-content-center" style="-webkit-text-fill-color: white; font-size: 50px; font-family: 'Open Sans Condensed', sans-serif;">
                                <a><span class="badge hours"></span></a>:
                                <a><span class="badge min"></span></a>:
                                <a><span class="badge sec"></span></a>
                            </h2>
                        <div class="card" style="border-radius: 25px; width: 18rem">
                            <div class="card-body p-4">
                                <div class="d-flex flex-column card-title mt-2" style="font-size: 24px">
                                    <div class="d-flex flex-row justify-content-sm-between" >
                                        <div>
                                            <i class="mdi mdi-weather-sunset-up"></i><span class="align-middle" style="font-size: 16px">7:52</span>
                                        </div>
                                        <div>
                                            <i class="mdi mdi-weather-sunset-down"></i><span class="align-middle" style="font-size: 16px">16:19</span>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row justify-content-sm-between">
                                        <div>
                                            <i class="mdi mdi-gauge"></i><span class="align-middle" th:text="${' ' + #numbers.formatDecimal(recordNow.pressure,1,1, 'POINT') + 'hPa'}" style="font-size: 16px"> 1012hPa</span>
                                        </div>
                                        <div>
                                            <i class="mdi mdi-water"></i><span class="align-middle" th:text="${#numbers.formatDecimal(recordNow.humidity*100,1,1, 'POINT') + '%'}" style="font-size: 16px"> 24%</span>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row justify-content-sm-between">
                                        <div>
                                            <i class="mdi mdi-thermometer"></i><span class="align-middle" th:text="${#numbers.formatDecimal(recordNow.temperature,1,1, 'POINT') + '°C'}" style="font-size: 16px"> 3°C</span>
                                        </div>
                                        <div>
                                            <i class="mdi mdi-sun-wireless-outline"></i><span class="align-middle" th:text="${' ' + #numbers.formatDecimal(recordNow.exposure*100,1,1, 'POINT') + '%'}" style="font-size: 16px"> 20%</span>
                                        </div>
                                    </div>
                                </div>
                                <span class="d-flex justify-content-center" th:text="${'Last update: ' + recordNowFormattedDate}" style="font-size: 10px">Last update: 19:15 30/11/2021</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <script type="text/javascript" th:src="@{/js/clock.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/6.5.95/css/materialdesignicons.min.css" integrity="sha512-Zw6ER2h5+Zjtrej6afEKgS8G5kehmDAHYp9M2xf38MPmpUWX39VrYmdGtCrDQbdLQrTnBVT8/gcNhgS4XPgvEg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</body>
</html>

